# OS X
.DS_Store*
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Misc
json_files
route_tester

# Config
.env

# User Uploads
public/upload